<footer>
    <div class="row container">
        <div class="col-md-9">
            <p><b>VOJS - Hệ thống Tạp chí Khoa học Việt Nam</b></p>
            <p>Công ty cổ phần METIS</p>
            <p>Địa chỉ: Toong Co-working space, tầng 2, IPH, 241 Xuân Thủy, Cầu Giấy, Hà Nội</p>
            <p>Liên hệ: <a href="tel:0123456789">0123456789</a></p>
            <p>Email: <a href="mailto:0123456789">abc@metis.vn</a></p>
        </div>
    </div>

    <div class="copyright">
        Developed by VOJS Team
    </div>
</footer>