.contact-form label {
  font-weight: 600;
}

.contact-form button {
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}

.contact-form button:focus {
  box-shadow: none;
}

.row {
  margin: auto !important;
  padding: 100px 0px 0px 0px;
}

.btn-default:hover {
  color: var(--while);
}
b{
  font-size: 24.5px;
}
.contact-us{
  padding-left: 30px !important;
}