#menu {

}
#menu {
    .title{
        font-weight: 700;
    }
}
.red {
    background-color: red;
    color :white;
}
ul {
    list-style: none;
    }
.section {
    li {
        margin: 0em;
    }
}