.item {
    min-height: 55px;
    line-height: 40px;
    width: 96%;
    min-width: auto;
    text-align: left;
    padding: 0px 0px 0px 25px;
    list-style: none !important;
    border: 2px solid #f9f9fb;
    border-radius: 15px;
    margin: 9px;
    b {
        text-align: right;
    }

}

.left-price {
    margin: auto;
}

.left-price {
    li {
        padding: 10px;
    }
}

i {
    margin-right: 20px;
}

.item:hover {
    background-color: #3c488e;
    color: #fff;
}

.tick {
    background-color: #3c488e;
    color: #fff;
}

.price-card {
    padding-bottom: 0px !important;



    .icon-price {
        text-align: right !important;
    }
}

hr {
    margin: 50px 0px 30px 0px !important;
}

sup {
    padding: 4px;
}

.comment {
    border-right: 2px solid #f9f9fb;

    div {
        margin: auto;
    }

}

.price-bottom {
    text-align: right;
    line-height: 100px;

    button {
        height: 60px;
        border: 2px solid #f9f9fb;
        border-radius: 28px;
        margin-right: 36px;
        padding: 0px 25px 0px 25px;
    }
}

.fa-check-circle {
    color: #76e162;
}
.container-item{
    .row{
        margin-left: 9px;
    }
}
.item-price{
    padding: 0px 25px 10px 40px;
    text-align: right;

}
h4{
    line-height: 27px !important;
}
@media (max-width: 770px) {
    .container-item {
        max-width: 777px;
        // background-color: red;
    }

    .price-bottom {
        text-align: center;
    }

    .item {
        height: auto;
        min-width: auto;
        line-height: 30px !important;

    }

}

@media (min-width: 768px) {
    .col-md- {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 83% !important;
    }

}