.row {
    margin: auto !important;
}

.thumb-info-wrapper {
    padding: 4px;
    border: 1px solid #e6e0e0;
    border-radius: 4px;
    margin: 0;
    overflow: hidden;
    display: block;
    position: relative;
    margin: 10px;
}

.info-image {
    min-height: 232px;
    display: block;
    background-size: 100% auto;
    position: relative;
    z-index: 2;

    &:hover {
        background-position: bottom;
        transition: background-position 1s linear 0s;
    }
}

.theme-special {

    &:hover {
        transition: background-position 2.5s linear 0s !important;
    }
}

.fa-spin {
    background: transparent none repeat scroll 0 0;
    color: #ccc;
    font-size: 25px;
    left: 50%;
    margin: -13px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.theme-name {
    text-align: center;
    font-size: 14px;
}

.theme-item {
    text-align: center;
    margin-bottom: 5.75em;
    cursor: pointer;
    font-weight: bold;

    button {
        width: 132px;
        height: 45px;
        border: 2px solid #f9f9fb;
        border-radius: 28px;
        margin-right: 10px;
        cursor: pointer;
    }

    .button-theme-item {
        margin-top: 1em;
        // margin-left: calc(50% - 137px);
    }
}

#preview-demo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 10;

    iframe {
        border: 0;
        width: 100%;
        background: #eee;
        height: calc(100vh - 60px);
        border-bottom: 1px solid #eee;
    }

    .preview-detail {
        .name {
            margin-right: 2em;
        }

        line-height: 48px;

        button {
            position: fixed;
            right: 0;
            bottom: 0;
            height: 60px;
            border-radius: 0;
            width: 120px;
        }

        #close-preview {
            background-color: rgb(199, 60, 71);
            right: 120px;
            width: auto;
            border: 0;
        }
    }
}

#header {
    z-index: 3;
    position: fixed;
    width: 100vw;
}

@media only screen and (max-width: 767px) {
    #preview-demo {
        .preview-detail {
            button {
                width: 50% !important;
            }

            #close-preview {
                // width: 50%;
                right: 50%;
            }
        }
    }
}